*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
   position: absolute;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   justify-content: center;
   align-items: center;
}

.container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .container h1{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 30vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    line-height: 100vh;
    mix-blend-mode: screen;
} */

.text-box{
    position: absolute  ;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    font-weight: 1000;
    mix-blend-mode: multiply;
    
}